:root {
  font-family: "Roboto", sans-serif;
}
/* body
{
  background-image: linear-gradient(to bottom, #00008B, white 50%, #00008B);
    background-repeat: no-repeat;
    background-size: cover;

} */